
<ion-view >
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="email" ng-model="email">
            </label>

            <label class="item item-input">
                <input type="text" placeholder="password" ng-model="password">
            </label>

            <label class="input item-input">
                <button ng-click="" class="button button-calm">    
                    login
                </button>
            </label>
        </div>
    </ion-content>
</ion-view>